<p style="color: green"><%= notice %></p>
<%= render @friend %>
<div class="mt-4 text-center ">
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-dark me-2" %>  <%= link_to "Back to friends", friends_path, class:"btn btn-dark me-2" %>
  <span class="inline"><%= button_to "End friendship", @friend, method: :delete, class:"btn btn-danger d-inline" %></span>
</div>
